.square {
  width: 80px;
  height: 80px;
  border: 1px solid black;
  color: white;
  background-color: #EBECD0;
  text-align: center;
}

.alt-square {
  width: 80px;
  height: 80px;
  border: 1px solid black;
  color: white;
  background-color: #779556;
  text-align: center;
}

.board-row {
  margin-top:-5px;
  margin-bottom:-10px;
}
