.square {
  width: 48px;
  height: 48px;
  border: 1px solid transparent;
  color: white;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 0px;
  padding: 0;
}

.square:focus {
  outline: none;
}

.light {
  background-color: #EBECD0;
}

.dark {
    background-color: #779556;
}

.board-row {
  margin-top:-5px;
  margin-bottom:-10px;
}
